body {
  font-family: 'Libre Baskerville', serif;
  background-color: hsla(333, 21%, 92%, 1);
}

.view {
  width: 100%;
}

.home-container {
  width: 100%;
  height: 100vh;
  background:
    url("./../images/Background12.png")
    no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-container img {
  width: 20%;
  height: auto;
}

.down-page {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.down-page:hover {
  width: 11%;
}

.down-page img {
  width: 100%;
  height: auto;
}

.down-page i {
  font-size: 3em;
}
