body {
    background-color: hsla(333, 21%, 92%, 1);
    font-family: 'Libre Baskerville', serif;
}

.head {
    align-items: center;
    display: flex;
    height: 25vh;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}

.head img {
    margin-left: 1vh;
    margin-top: 1vh;
    width: 25vh;
}

.head nav {
    display: none;
}

.head i {
    align-self: flex-start;
    font-size: 3rem;
    margin-top: 3vh;
    margin-right: 4vh;
}

#small-nav {
    align-items: flex-end;
    background-color: hsla(333, 21%, 92%, 0);
    display: none;
    flex-direction: column;
    height: 40vh;
    justify-content: space-around;
    margin-top: 25vh;
    position: absolute;
    width: 100%;
}

#small-nav a {
    color: hsla(0, 0%, 0%, 1);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
}

.view {
    width: 100%;
}


/*Home*/

.home-container {
    align-items: center;
    background: url("./../images/Background12.png") center / 220vh no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
}

/*About*/

.about {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    width: 75%;
}

.description {
    color: hsla(10, 94%, 60%, 1);
    font-size: 1.5rem;
    height: 30vh;
    line-height: 6vh;
    margin-top: 20vh;
    padding-left: 2vh;
}

.contact {
    display: flex;
    justify-content: space-around;
}

.contact img {
    height: 10vh;
}


/*Projects*/

.project-container {
    display: flex;
    height: 100vh;
    width: 70%;
}

.projects {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 2vh;
    margin-top: 25vh;
    width: 100%;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vh;
}

.project-heading a {
    color: hsla(10, 94%, 60%, 1);
    font-size: 1.5rem;
    text-decoration: none;
}

.project-description {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 2vh;
}


/*Tech*/

.tech-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.techs {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 3vh;
    margin-top: 30vh;
    width: 80%;
}

.tech {
    padding: 1vh 2vh;
}

.tech img {
    width: 13vh;
}

@media (min-width: 700px) and (max-width: 1023px) {
    body {
        background-color: hsla(333, 21%, 92%, 1);
        font-family: 'Libre Baskerville', serif;
    }
    .head {
        align-items: center;
        display: flex;
        height: 30vh;
        justify-content: space-between;
        position: fixed;
        width: 100%;
    }
    .head img {
        margin-left: 2vh;
        width: 35vh;
    }
    .head nav {
        display: none;
    }
    .head nav a {
        border-bottom: 5px solid hsla(0, 0%, 0%, 0);
        color: hsla(0, 0%, 0%, 1);
        font-size: 1.2rem;
        text-decoration: none;
    }
    .head nav a:hover {
        border-bottom: 5px solid hsla(10, 94%, 60%, 1);
    }
    .head nav img {
        display: none;
    }
    .view {
        width: 100%;
    }
    /*Home*/
    .home-container {
        align-items: center;
        background: url("./../images/Background12.png") center / 220vh no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100vh;
        width: 100%;
    }
    /*About*/
    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        width: 80%;
    }
    .description {
      font-size: 2rem;
        margin-top: 35vh;
    }
    .contact {
        display: flex;
        justify-content: space-around;
    }
    .contact img {
        height: 10vh;
    }
    /*Projects*/
    .project-container {
        display: flex;
        height: 100vh;
        justify-content: center;
        width: 100%;
    }
    .projects {
        display: flex;
        justify-content: center;
        margin-left: 2vh;
        margin-top: 35vh;
        width: 80%;
    }
    .project {
        display: flex;
        flex-direction: column;
        height: 25vh;
        justify-content: space-between;
        margin: 2vh;
        width: 50vh;
    }
    .project-heading a {
        color: hsla(10, 94%, 60%, 1);
        font-size: 1.5rem;
        text-decoration: none;
    }
    .project-description {
        line-height: 1.5rem;
    }
    /*Tech*/
    .tech-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        width: 100%;
    }
    .techs {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 60vh;
        justify-content: space-around;
        margin-top: 25vh;
        width: 70%;
    }
    .tech {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25vh;
    }
    .tech img {
        width: 15vh;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: hsla(333, 21%, 92%, 1);
        font-family: 'Libre Baskerville', serif;
    }
    .head {
        display: flex;
        justify-content: space-between;
        height: 30vh;
        position: absolute;
        width: 100%;
    }
    .head img {
        margin-left: 2vh;
        margin-top: 2vh;
        width: 35vh;
    }
    .head nav {
        align-items: center;
        align-self: flex-start;
        display: flex;
        justify-content: space-around;
        margin-right: 2vh;
        margin-top: 5vh;
    }
    .head nav a {
        border-bottom: 5px solid hsla(0, 0%, 0%, 0);
        color: hsla(0, 0%, 0%, 1);
        font-size: 1.5rem;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
    }
    .head nav a:hover {
        border-bottom: 5px solid hsla(10, 94%, 60%, 1);
    }
    .head nav img {
        width: 15%;
    }
    .head i {
        display: none;
    }
    .view {
        width: 100%;
    }
    /*Home*/
    .home-container {
        background: url("./../images/Background12.png") no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100vh;
        width: 100%;
    }
    .home-container img {
        height: auto;
        width: 20%;
    }
    .down-page {
        align-self: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 10%;
    }
    .down-page img {
        height: auto;
        width: 80%;
    }
    .down-page i {
        font-size: 3em;
    }
    /*About*/
    .about {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-around;
        margin: 0 auto;
        width: 70%;
    }
    .description {
        font-size: 2.5rem;
        margin-top: 30vh;
    }
    .contact {
        display: flex;
        justify-content: space-around;
    }
    .contact img {
        height: 10vh;
    }
    /*Projects*/
    .project-container {
        align-content: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
        width: 100%;
    }
    .projects {
        align-items: center;
        display: flex;
        justify-content: space-around;
        margin-top: 35vh;
        width: 100%;
    }
    .project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 40vh;
        width: 50vh;
    }
    .project-image img {
      height: 20vh;
    }
    .project-heading a {
        color: hsla(10, 94%, 60%, 1);
        font-size: 2rem;
        text-decoration: none;
    }
    .project-description {
        line-height: 1.5rem;
    }
    /*Tech*/
    .tech-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }
    .techs {
        height: 80vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 60%;
    }
    .tech {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 20vh;
    }
    .tech img {
        width: 20vh;
    }
}
